/* src/pages/Home.css */

@keyframes sparkle {
    0%, 100% {
      opacity: 1;
      box-shadow: 0 0 5px rgba(255, 255, 255, 0.8), 0 0 10px rgba(255, 255, 255, 0.6);
    }
    50% {
      opacity: 0.8;
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.6);
    }
  }
  
  .sparkle {
    animation: sparkle 1.5s infinite alternate;
    transition: transform 0.7s ease-in-out; /* เพิ่ม transition เพื่อให้การเปลี่ยนขนาดนุ่มนวล */
  }
  
  .sparkle:hover {
    transform: scale(1.1); /* ขยายขนาด 10% เมื่อเอาเมาส์ไปชี้ */
  }
  